<div style="text-align:left">
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
  <app-pokemon-card class="inline-block"></app-pokemon-card>
</div>
